<div class="row ">
  <div class="col-12 center">
    <% flash.each do |name, msg| %>
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss=alert">&#215</a>
      <%= msg %>
    </div>
    <% end %>
  </div>
</div>
